# Auto detect text files and perform LF normalization
* text=auto
Library/PachageCache/com.unity.burst@1.8.12/.Runtime/libburst-11vm-16.dylib filter=lfs diff=lfs merge=lfs -text
*.dylib filter=lfs diff=lfs merge=lfs -text
*.meta filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
